[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octopress-themes/murky-mussels.git
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = git@github.com:u1tnk/Hugo-Octopress.git
